.all {
  background: #e5e5e5;
  height: 2788px;
  width: 375px;
}

.top-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 600px;
  width: 375px;
  align-self: center;
  align-items: center;
  border-bottom-left-radius: 25px;
}

.header {
  display: flex;
  height: 50px;
  width: 100%;
}

.logo {
  padding-top: 8px;
  display: flex;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  margin-left: 18px;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.logo:hover {
  color: #babfed;
  transform: translate(0, -2px);
}

.menu {
  padding-left: 200px;
  cursor: pointer;
  transition: ease-in;
}

.menu:hover {
  transform: translate(0, -1px);
}

.main {
  display: flex;
  flex-direction: column;
  height: 518px;
  width: 100%;
  background-image: url("image/shapes.png");
  justify-content: center;
}

h1 {
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  align-items: center;
  color: #172b4d;
  padding: 24px;
}

.content {
  height: 93px;
  padding: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect {
  height: 13px;
  padding: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #7f8cff;
}

.social {
  text-decoration: none;
  height: 10px;
  padding: 1px;
}

ul {
  display: flex;
  list-style-type: none;
  margin-left: 1px;
  gap: 4px;
  padding-left: 24px;
}

li:hover {
  transform: translate(0, -2px);
}
